
@{
    ViewBag.Title = "Test";
}

<div ng-app="angularAppModule" ng-controller="TestCtrl">
    <h2>Test</h2>

    <h3>ngtitle: {{title}}</h3>

</div>



<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-sanitize.js"></script>
<script src="~/Scripts/app.js"></script>
<script src="~/AngularAuto/Scripts/api/TestRepository.js"></script>
<script src="~/Scripts/Controllers/TestCtrl.js"></script>